* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  margin-bottom: 40px;
  text-decoration: underline;
}
body {
  background-image: url("assets/simple5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 10px;
  padding: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  margin-right: 20px;
  background-color: rgb(88, 141, 184);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 450px;
  border: 1px solid black;
  padding: 10px;
}
.text-box {
  line-height: 1.4;
  gap: 5px;
}

.text-box > * {
  gap: 5px;
  display: flex;
}
.game-image {
  margin: 10x;
  width: 70px;
  height: 70px;
}
.game-image:hover {
  /* width: 50px; */
  scale: 120%;
}

@media only screen and (max-width: 540px) {
  .games-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.games-products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
